<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speed Store</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../js/legadopapa.js"></script>
    <link rel="icon" type="image/x-icon" href="../css/favicon_io/favicon-16x16.png">

  </head>
  <body>
    <header>
      <div class="content">
        <nav>
          <p class="brand">Speed<strong>Store</strong></p>
          <ul>
              <li><a href="#catalog">Catalogo de Promociones</a></li>
              <li><a href="contacto.html">Contacto</a></li>

              <button class="button"><a href="registro.html">Registrarse Gratis</a></button>

              <button class="button"><a href="login.html">Login</a></button>

          </ul>
        </nav>
        
        <div class="header-block">
          <div class="text">
            <h2>Productos perfectos para ti</h2>
            <p>
              Encuentra los mejores productos y precios en tu municipio o departamento....
            </p>
          </div>
          <img src="../imagenes/index.png" alt="Car" />
        </div>

      </div>

    </header>
    <section class="catalog" id="catalog">
      <div class="content">
        <div class="title-wrapper-catalog">
          <p>Buscar Productos</p>
          <h3>Catalogo General</h3>
        </div>
        <div class="filter-card">
          <input
            type="text"
            class="search-input"
            placeholder="Escoje tus productos favoritos"
          />
          <button class="search-button">Buscar</button>
        </div>

        <div class="card-wrapper">
          <div class="card-item">
            <img src="../imagenes/temporada_temp/imagen1.png" alt="Car" />
            <div class="card-content">
              <h3>Tienda la venganza</h3>
              <p>
                Tienda la venganza de precios los espera con precios bajos.
              </p>
              <button type="button">Detalles Ubicacion?</button>
            </div>
          </div>

          <div class="card-item">
            <img src="../imagenes/temporada_temp/imagen2.png" alt="Car" />
            <div class="card-content">
              <h3>Panaderia Marinillos</h3>
              <p>
                El mejor pan de el sur de Cali, pedidos y domicilios...
              </p>
              <button type="button">Detalles Ubicacion?</button>
            </div>
          </div>

          <div class="card-item">
            <img src="../imagenes/temporada_temp/imagen3.jpg" alt="Car" />
            <div class="card-content">
              <h3>Salsamentaria Bonanza</h3>
              <p>
                Salsamentaria Bonanza, entre y consulta nuestros productos...
              </p>
              <button type="button">Detalles Ubicacion?</button>
            </div>
          </div>

          <div class="card-item">
            <img src="../imagenes/temporada_temp/imagen4.png" alt="Car" />
            <div class="card-content">
              <h3>Tienda La Huerta</h3>
              <p>
                La huerta le ofrece productos frescos y cultivados sin contaminantes o productos nosivos para la salud...
              </p>
              <button type="button">Detalles Ubicacion?</button>
            </div>
          </div>

          <div class="card-item">
            <img src="../imagenes/temporada_temp/captura1.png" alt="Car" />
            <div class="card-content">
              <h3>Supermercados Silvia</h3>
              <p>
                Abrimos sucursales en diferentes municipios del valle del cauca...
              </p>
              <button type="button">Detalles Ubicacion?</button>
            </div>
          </div>

          <div class="card-item">
            <img src="../imagenes/temporada_temp/img_8727.jpg" alt="Car" />
            <div class="card-content">
              <h3>Santa Helena</h3>
              <p>
                Galeria santa helena, ubicados en la ciudad de cali tenemos los mejores precios del mercado caleño...
              </p>
              <button type="button">Detalles Ubicacion?</button>
            </div>
          </div>

          <div class="card-item">
            <img src="../imagenes/temporada_temp/mercado1.jpg" alt="Car" />
            <div class="card-content">
              <h3>La Ermita</h3>
              <p>
                Galeria la ermita ofrece los mejores precios para el norte de la ciudad de cali...
              </p>
              <button type="button">Detalles Ubicacion?</button>
            </div>
          </div>

          <div class="card-item">
            <img src="../imagenes/temporada_temp/mercado2.jpg" alt="Car" />
            <div class="card-content">
              <h3>Tienda Market Place</h3>
              <p>
                Tienda viertual ofreciendo los mejores productos, solo domicilios...
              </p>
              <button type="button">Detalles Ubicacion?</button>
            </div>
          </div>

          <div class="card-item">
            <img src="../imagenes/temporada_temp/captura2.png" alt="Car" />
            <div class="card-content">
              <h3>Galerias Caucanas</h3>
              <p>
                Te ofrecemos los mejores productos cultivados en el departamento del cauca...
              </p>
              <button type="button">Detalles Ubicacion?</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about" id="about">
      <div class="content">
        <div class="title-wrapper-about">
          <p>Contactos</p>
          <h2>Información</h2>
        </div>
        <div class="about-content">
          <div class="left">
            <img src="../imagenes/repositorio.jpg" alt="About" />
          </div>
          <div class="right">
            
            <h2>¿Qué es Speed Store?</h2>
            <p>
              Speed Store es una aplicación innovadora diseñada para agilizar el proceso de ventas en tu negocio. Su funcionamiento se basa en la tecnología de contenedores mediante Docker, lo que permite una instalación rápida y sencilla de las herramientas necesarias en un entorno controlado con sistema Linux.
            </p>
            <p>
              Con Speed Store, puedes gestionar tus ventas de manera eficiente y práctica, ya sea en una pequeña tienda local o en una empresa en crecimiento.
            </p>
            <p>
              Una de las características distintivas de Speed Store es su capacidad para operar a través de la red local, aprovechando una base de datos previamente instalada en el entorno. Esto significa que los usuarios pueden acceder a la aplicación y gestionar sus ventas desde múltiples dispositivos conectados a la misma red, lo que facilita la colaboración y mejora la eficiencia en el flujo de trabajo.
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="features" id="features">
      <div class="content">
        <div class="title-wrapper-features">
          <p>Consultar Temporada Campesina</p>
          <h3>Ofertas por territorios dependiendo de los productos</h3>
          
          <a href="#" onclick="abrirPDF()" style="color: blue; text-decoration: underline; cursor: pointer;">Legado ancestral para la agricultura en Colombia.</a>

        </div>
        <div class="feature-card-block">
          <div class="feature-card-item">
            <img src="../imagenes/ofertas/papa1.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>CURIPAMBA 2107</h3>
              <p>Zonas de producción: Departamento de Nariño (sur de Colombia)
                Altura de planta: 98 cm.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="../imagenes/ofertas/papa2.jpg" alt="Feature" />
            <div class="feature-text-content">
              <h3>BOLA DE SAL 1777</h3>
              <p>Zonas de producción: Departamento de Nariño (sur de Colombia)
                Altura de planta: 86 cm.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="../imagenes/ofertas/papa3.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>PESTAÑUDA 2108</h3>
              <p>Zonas de producción: Departamento de Nariño (sur de Colombia)
                Altura de planta: 92 cm.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="../imagenes/ofertas/papa4.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>PUNTO ROJO 1894</h3>
              <p>Zonas de producción: Departamento de Boyacá (centro de Colombia)
                Altura de planta: 60 cm.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="../imagenes/ofertas/papa5.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>AMARILLA 2546</h3>
              <p>Zonas de producción: Departamento de Nariño (sur de Colombia)
                Altura de planta: 75 cm.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="../imagenes/ofertas/papa6.png" alt="Feature" />
            <div class="feature-text-content">
              <h3>ALGODONA 2006</h3>
              <p>Zonas de producción: Departamento de Nariño (sur de Colombia)
                Altura de planta: 76 cm.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="main">
        <div class="content footer-links">
          <div class="footer-company">
            <h4>Compañia</h4>
            <h6>Conozcanos</h6>
            <h6>Repositorio oficial https://github.com/Has18Live/Proyecto-Sena.git</h6>
          </div>
          <div class="footer-rental">
            <h4>Renta servicio en la nube</h4>
            <h6>Buscar productos en descuento</h6>
            <h6>Requisitos minimos</h6>
            <h6>Ayuda</h6>
          </div>
          <div class="footer-social">
            <h4>Mantenerse conectado</h4>
            <div class="social-icons">
              <img src="../imagenes/instagram.png" alt="Instagram" />
              <img src="../imagenes/facebook.png" alt="Facebook" />
            </div>
          </div>
          <div class="footer-contact">
            <h4>Contactarnos</h4>
            <h6>+57 317 459 3537</h6>
            <h6>stormytrump@gmail.com</h6>
            <h6>Correo electronico</h6>
          </div>
        </div>
      </div>
      <div class="last">Todos los derechos reservados. 2024</div>
    </footer>
  </body>
</html>
