<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/style_login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum in molestiae veniam ea sed?</p>
                <input type="button" value="Iniciar Sesión" id="sign-in">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crea una Cuenta</h2>
                <div class="icons">
                    <i class='bx bxl-google'></i>
                    <i class='bx bxl-facebook'></i>
                    <i class='bx bxl-github'></i>
                </div>
                <p>o Regístrate Con Tu Nombre y Correo</p>
                <form class="form" action="conector.php" method="POST">
                    <div class="form-group">
                        <label for="fullname"><i class='bx bx-user'></i></label>
                        <input type="text" id="fullname" name="fullname" placeholder="Nombre Completo" required>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class='bx bx-envelope'></i></label>
                        <input type="email" id="email" name="email" placeholder="Correo Electrónico" required>
                    </div>
                    <div class="form-group">
                        <label for="password"><i class='bx bx-lock-alt'></i></label>
                        <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    </div>
                    <input type="submit" value="Registrarse" class="btn-submit">
                </form>
            </div>
        </div>
    </div>
    <div class="container-form login hide">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido Nuevamente</h2>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <input type="button" value="Registrarse" id="sign-up">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Iniciar Sesión</h2>
                <div class="icons">
                    <i class='bx bxl-google'></i>
                    <i class='bx bxl-facebook'></i>
                    <i class='bx bxl-github'></i>
                </div>
                <p>o Inicia Sesión Con Tu Cuenta</p>
                <form class="form" action="conector.php" method="POST">
                    <div class="form-group">
                        <label for="login_email"><i class='bx bx-envelope'></i></label>
                        <input type="email" id="login_email" name="login_email" placeholder="Correo Electrónico" required>
                    </div>
                    <div class="form-group">
                        <label for="login_password"><i class='bx bx-lock-alt'></i></label>
                        <input type="password" id="login_password" name="login_password" placeholder="Contraseña" required>
                    </div>
                    <input type="submit" value="Iniciar Sesión" class="btn-submit">
                </form>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
