/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Añadido: incluir padding y border en el tamaño */
}

/* Fondo de la página */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('../imagenes/fondo_index.png'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir toda la página */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    font-family: 'Outfit', sans-serif; /* Ajustado: Selecciona la fuente principal */
}

/* Estilos para el nuevo navbar */
.second-nav {
    display: flex;
    justify-content: space-between;
    max-width: 90%; /* Ajusta según sea necesario */
    margin: auto;
    padding: 1.4rem 1rem;
    background-color: #000000b5;
    backdrop-filter: blur(10px);
    border-radius: 3rem;
    margin-top: 1rem;
}

.second-nav .logo {
    font-size: 1.3rem;
    font-weight: 600;
}

.second-nav .logo a {
    color: #f57906;
    text-decoration: none;
}

.second-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    margin-bottom: 0;
}

.second-nav li {
    padding: 0rem 1.1rem;
    float: left;
}

.second-nav li a {
    color: #e96d3f;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .7px;
    position: relative;
}

.second-nav li a::before {
    content: "";
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #f19100;
    transform: scale(0, 1);
    transition: transform .3s ease;
}

.second-nav li a:hover::before {
    transform: scale(1, 1);
}

/* Ajuste de tamaño de fuente en pantallas aún más pequeñas */
@media only screen and (max-width: 480px) {
    html {
        font-size: 85%;
    }

    header {
        height: 100vh;
    }

    li {
        padding: 1rem 1.1rem;
    }

    .menu {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
    }

    ul {
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 4rem;
        left: -100%;
        background-color: #000000b5;
        backdrop-filter: blur(10px);
    }

    #click:checked~ul {
        left: 0%;
        transition: all 0.3s ease;
    }
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: static; /* Cambiado a fixed */
    bottom: 0;
    width: 100%;
    z-index: 999; /* Asegura que el footer esté en la parte superior del apilamiento */
}

.social-icons {
    margin-left: 10px;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
}

/* Estilos para el slider */
.slider-container {
    position: relative;
}

.slider {
    overflow: hidden;
    width: 1256px;
    height: 372px;
    margin: auto;
    border: 2px solid #cccccc7a; /* Agregado: Borde alrededor del slider */

}

.slides {
    display: flex;
    width: 6280px; /* Ajustado: 1256px * 5 */
    transition: transform 0.5s ease;
}

.slides img {
    width: 1256px;
    height: 372px;
}

/* Estilos para el botón de consulta */
.consultar-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    z-index: 100;
}

/*DESCRIPCION DEL TEXTO*/
.descripcion {
    text-align: center;
    max-width: 800px; /* Establece un ancho máximo para el contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.descripcion h2 {
    color: orangered;
}

.descripcion h3 {
    color: #f15900; /* Color de texto */
}

.descripcion p,
.descripcion ol {
    line-height: 1.6; /* Espaciado entre líneas */
    color: #000000;
    font-style: normal;
    font-weight: 700; /* Ajusta el valor según lo grueso que desees el texto */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.main-content {
    background-color: #d1c0c0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}

    